/*
  newman pink: FF8BC0
  newman light_green: 67CBBA
  newman light_green_shadow: 44867C
  newman dark_green: 2F6F71
  newman blue: 456791
  newman blue_shadow: 2C4863
  newman muted-white: DAE1E9
*/

body {
  margin: 0;
  background-color: #2F6F71;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 20px;
  grid-column-gap: 40px;
  grid-template-rows: 60px 50px auto;
}

.header {
  grid-row: 1;
  grid-column: 1 / span 2;
}

.type-filters {
  grid-row: 2;
  grid-column: 1;
  justify-self: center;
}

.build-list {
  grid-row: 3;
  grid-column: 1;
  min-width: 420px;
  justify-self: stretch;
  padding: 0 15px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.build-form-title {
  grid-row: 2;
  grid-column: 2;
  place-self: center;
  width: 300px;
  border-radius: 4px;
  border: 1px solid #FF8BC0;
  line-height: 34px;
  text-align: center;
  font-weight: 900;
  font-size: 1.3em;
  color: #FF8BC0;
}

.build-forms {
  width: 100%;
  min-width: 420px;
  grid-row: 3 / span 2;
  grid-column: 2;
  max-width: 700px;
  justify-self: center;
}

.build-forms form {
  padding: 0 10px;
}

.header {
  background-color: #67CBBA;
  color: #456791;
}

.bowtie-svg {
  height: 60px;
  margin-right: 10px;
  vertical-align: top;
}

.bowtie-svg path {
  fill: #FF8BC0;
}

.newman-container {
  position: relative;
  margin: 40px auto 0;
  width: 420px;
}

.newman-container.giant-jenkins .ah-ah-ah {
  width: 250px;
  position: absolute;
  top: 70px;
}

.ah-ah-ah {
  height: auto;
  width: 300px;
}

.speech-bubble-svg path {
  stroke: #FF8BC0;
  fill: #2F6F71;
}

.speech-bubble-svg {
  width: 200px;
  height: auto;
  position: absolute;
  right: 10px;
  top: -40px;
}

.newman-text {
  position: absolute;
  right: 36px;
  top: 10px;
  font-size: 1em;
  font-weight: 600;
  color: #FF8BC0;
  width: 150px;
  height: 90px;
  text-align: center;
  line-height: 20px;
  display: flex;
  align-items: center;
}

.title {
  display: inline-block;
  font-size: 2em;
  font-weight: 900;
  line-height: 60px;
  height: 40px;
  vertical-align: top;
  margin-left: 20px;
}

UL {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar {
  display: inline-block;
  vertical-align: top;
}

NAV {
  float: right;
}

.header .auth {
  vertical-align: top;
  text-align: center;
  display: inline-block;
  border: none;
  background-color: transparent;
  color: #456791;
  width: 80px;
  padding: 10px 0;
  font-weight: 700;
  font-size: 1em;
  height: 60px;
}

.header .auth:hover {
  cursor: pointer;
}

.header .auth:hover {
  color: #FF8BC0;
}

.header li {
  height: 60px;
  border-left: 2px solid #44867C;
}

a.auth {
  text-decoration: none;
}

.header UL LI {
  display: inline-block;
}



/* BUILD FORMS */
.build-type {
  color: #FF8BC0;
  margin-bottom: 5px;
}

.build-param.MW_SERVICE_SELF_START label,
.build-type.test {
  display: inline-block;
}

.build-param.EXPORT_BUILD_CACHES {
  align-items: center;
}

.build-type.test,
.build-param label {
  margin-right: 10px;
}

.build-type.test ~ div:not(.include-test) {
  margin-left: 15px;
}

.build-param.include-test {
  display: inline-block;
}

.build-param.PYTHON_TEST.test-off ~ div,
.build-param.REST_TEST.test-off ~ div {
  display: none;
}

.button {
  border: none;
  background-color: #67CBBA;
  border-radius: 2px;
  padding: 3px 5px;
  color: #456791;
  font-weight: 700;
}

.multi-select-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0 5px;
}

.build-param select,
.text-input {
  font-size: .9em;
  font-weight: 700;
  color: #456791;
}

.multi-select-list button {
  font-size: .9em;
  margin: 5px;
}

.button:active,
.button:hover {
  background-color: #44867C;
  color: #FF8BC0;
  cursor: pointer;
}

.build-param label {
  color: #67CBBA;
}

.build-param {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  margin-bottom: 5px;
  align-items: baseline;
}

.build-param .multi-select-wrapper {
  width: 100%
}

.build-param select {
  border-radius: 4px;
  height: 33px;
  width: auto;
  overflow: hidden;
  /* border: none; */
  padding: 5px;
  background-color: #67CBBA;
  border: 2px solid #44867C;
}

.text-input {
  /* width: 100%; */
  /* max-width: 450px; */
  height: 33px;
  box-sizing: border-box;
  /* font-size: 1em; */
  border: 2px solid #44867C;
  padding: 3px;
  background-color: #67CBBA;
  color: #456791;
  /* font-weight: 600; */
  border-radius: 4px
}

.save-jenkins {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.save-jenkins .text-input {
  width: 350px
}

.save-jenkins input {
  margin-bottom: 10px;
}

.save-jenkins .submit-input {
  width: 200px;
}

.build-param.VAD_PRODUCT_VERSION .text-input,
.build-param.COMMIT .text-input {
  min-width: 300px;
  flex-grow: 1;
}

.hidden {
  display: none;
}

.build-param label {
  white-space: nowrap;
}

.build-param.VAD_PRODUCT_VERSION label,
.build-param.COMMIT label {
  min-width: 235px;
}

.build-param.MW_SERVICE_SELF_START {
  /* justify-content: left; */
  display: inline-block;
}

button.clear-all {
  float: right;
  margin-top: -30px;
  border: 1px solid #FF8BC0;
}

.button.submit-input {
  display: block;
}

.button.submit-input.send-builds {
  margin: 20px auto 0 auto;
  border: 2px solid #FF8BC0;
  font-size: 1em;
  padding: 5px 10px;
  width: 300px;
}

.flexbox-wrapper {
  display: inline-block;
  vertical-align: middle;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.checkbox-wrapper {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 28px;
}

input.checkbox-hidden {
  display: none
}

.checkbox-toggle {
  position: absolute;
  cursor: pointer;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgb(63, 160, 144);
  transition: 0.3s;
  border-radius: 28px;
}

.checkbox-toggle::before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: #2F6F71;
  transition: 0.3s;
  border-radius: 50%;
}

input.checkbox-hidden:checked + .checkbox-toggle {
  background-color: #FF8BC0;
}

input.checkbox-hidden:checked + .checkbox-toggle::before {
  transform: translateX(20px);
}

li, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.button-toggle {
  background-color: #67CBBA;
}

.button-toggle.selected {
  background-color: #FF8BC0;
}

.button-toggle.selected:hover {
  background-color: #456791;
}


/* FILTER MENU */

.type-filters {
  display: table;
  table-layout: fixed;
  width: 300px;
  place-self: center;
}

.type-filters li {
  display: table-cell;
  width: 100%;
}

.type-filters li A {
  position: relative;
  color: #FF8BC0;
  text-decoration: none;
  width: 100%;
  margin: 0;
  border: 1px solid #FF8BC0;
  border-width: 1px 0 1px 1px;
  border-radius: 0;
  box-shadow: none;
  background-color: transparent;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  text-align: center;
  line-height: 34px;
  font-weight: 900;
}

.type-filters li A:hover,
.type-filters li A:active {
  background-color: #44867C
}

.type-filters li:first-child A {
  border-radius: 4px 0 0 4px;
}

.type-filters li:last-child A {
  border-width: 1px 1px 1px 1px;
  border-radius: 0 4px 4px 0;
}

.type-filters li A.active {
  background-color: #FF8BC0;
  color: #2F6F71;
}


.text-input.build-filter {
  width: 100%;
  max-width: 450px;
  height: 35px;
  margin-bottom: 20px;
  box-sizing: border-box;
  font-size: 1em;
  border: 2px solid #44867C;
  padding: 3px;
  background-color: #67CBBA;
  color: #456791;
  font-weight: 600;
  border-radius: 4px
}



/* BUILD LIST ITEMS */
.build-item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "builder builder timestamp"
    "machine version version";
  align-items: center;
  text-decoration: none;
  background-color: #67CBBA;
  color: #456791;
  font-size: 1em;
  font-weight: 800;
  border-radius: 4px;
  height: 50px;
  max-width: 650px;
  margin: 0 auto 10px;
  padding: 0 5px;
  border-left: 3px solid #67CBBA;
  border-right: 3px solid #67CBBA;
}

/* @keyframes changeBackground {
  from {
    background-color: #67CBBA;
    border-left: 3px solid #67CBBA;
    border-right: 3px solid #67CBBA;
  }
  to {
    background-color: #44867C;
    border-left: 3px solid #44867C;
    border-right: 3px solid #44867C;
  }
} */

/* .animation-sync .build-item.BUILDING {
  animation-duration: 1s;
  animation-name: changeBackground;
  animation-iteration-count: infinite;
  animation-direction: alternate;
} */

.build-item.SUCCESS {
  border-left: 3px solid lime;
  border-right: 3px solid lime;
}

.build-item.FAILURE {
  border-left: 3px solid red;
  border-right: 3px solid red;
}

.build-item.ABORTED {
  border-left: 3px solid #456791;
  border-right: 3px solid #456791;
}

.build-item.UNSTABLE {
  border-left: 3px solid yellow;
  border-right: 3px solid yellow;
}

.build-item:hover,
.build-item:active {
  background-color: #44867C;
  color: #FF8BC0;
}

.build-item.BUILDING:hover,
.build-item.BUILDING:active {
  background-color: #44867C;
  color: #FF8BC0;
  border-left: 3px solid #44867C;
  border-right: 3px solid #44867C;
}

.builder {
  grid-area: builder;
}

.timestamp {
  grid-area: timestamp;
}

.machine {
  grid-area: machine;
}

.version-commit {
  grid-area: version;
}

.build-item,
.builder,
.timestamp,
.machine,
.version-commit,
.build-item {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.builder,
.machine {
  text-align: left;
}

.timestamp,
.version-commit {
  text-align: right;
}

.ui-pnotify.build-creation .ui-pnotify-container {
  border: 2px solid #FF8BC0;
  background-color: #456791;
  color: #FF8BC0;
  border-radius: 4px;
}

.lock-svg {
  height: 12px;
  width: auto;
  margin-right: 3px;
}

.lock-svg path {
  fill: #FF8BC0;
  stroke: #2F6F71;
  stroke-width: 3px;
}


/* CONTEXT-MENU default styles ------------------------------------------------------*/

.react-contextmenu {
  background-color: #456791;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;
  color: #FF8BC0;
  font-size: 16px;
  margin: 2px 0 0;
  min-width: 160px;
  outline: none;
  opacity: 0;
  padding: 5px 0;
  pointer-events: none;
  text-align: left;
  transition: opacity 250ms ease !important;
}

.react-contextmenu.react-contextmenu--visible {
  opacity: 1;
  pointer-events: auto;
  z-index: 9999;
}

.react-contextmenu-item {
  background: 0 0;
  border: 0;
  /* color: #373a3c; */
  cursor: pointer;
  font-weight: 400;
  line-height: 1.5;
  padding: 3px 20px;
  text-align: inherit;
  white-space: nowrap;
}

.react-contextmenu-item.react-contextmenu-item--active,
.react-contextmenu-item.react-contextmenu-item--selected {
  background-color: #44867C;
  text-decoration: none;
}

.react-contextmenu-item.react-contextmenu-item--disabled,
.react-contextmenu-item.react-contextmenu-item--disabled:hover {
  background-color: transparent;
  border-color: rgba(0,0,0,.15);
  color: #878a8c;
}

.react-contextmenu-item--divider {
  border-bottom: 1px solid rgba(0,0,0,.15);
  cursor: inherit;
  margin-bottom: 3px;
  padding: 2px 0;
}
.react-contextmenu-item--divider:hover {
  background-color: transparent;
  border-color: rgba(0,0,0,.15);
}

.react-contextmenu-item.react-contextmenu-submenu {
padding: 0;
}

.react-contextmenu-item.react-contextmenu-submenu > .react-contextmenu-item {
}

.react-contextmenu-item.react-contextmenu-submenu > .react-contextmenu-item:after {
  content: "▶";
  display: inline-block;
  position: absolute;
  right: 7px;
}

.example-multiple-targets::after {
  content: attr(data-count);
  display: block;
}


.tooltip-title {
  user-select: none;
  margin-right: 10px;
  font-weight: bold;
  font-size: 16px;
  color: #67CBBA
}

.download-links {
  border-top: 1px solid #456791;
  margin-top: 8px;
  padding-top: 8px;
}

.download-links a {
  color: #FF8BC0
}

.download-links a:hover {
  color: #67CBBA
}

.jenkins-version {
  font-size: 16px;
  vertical-align: middle;
  padding-left: 10px;
  color: lime;
}
